{{ define "main" }}

  {{ $feat := .Site.GetPage "/feature" }}
  {{ $prd := .Site.GetPage "/prd" }}
  

  {{ range $prd.Sections  }}
    {{ $prdTitle := .Title}}

    <h1>{{.Title}}模块</h1>
    <!-- <h2>功能描述</h2> -->
    
    {{ range .Pages.ByWeight }}
      <h3>{{ .Title }}</h3>
      {{.Content}}
    {{ end }}
    {{range $feat.Sections}}
      {{ if eq .Title  $prdTitle }}
        {{ range .Pages.ByWeight }}
              <h2>{{ .Title }}</h2>
          {{.Content}}
        {{ end }}
      {{ end }}
    {{end}}

  <hr>
  {{ end }}

  {{.Content}}
{{ end }}