{{ define "main" }}

  {{ $feat := .Site.GetPage "/feature" }}
  

  {{ range $feat.Sections  }}

    <h2>{{.Title}}模块</h2>
    <hr>
    <!-- <h2>功能描述</h2> -->

    {{ range .Pages.ByWeight }}
      {{ if eq .File.BaseFileName "troubleshooting"  }}
        {{.Content}}
      {{end}}
    {{ end }}
    <br/>
  
  {{ end }}

  {{.Content}}
{{ end }}