header {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    // background-color: #009ce3;
    background-color: #262626;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    // height: 3.5rem;
    height: 48px;
    left: 0;
    margin-bottom: .35rem;
    padding: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;



    a {
        text-decoration: none;
        line-height: 40px;
        cursor: pointer;
    }

    .logo {
        font-size: 100%;
        margin: 8px 20px;
        margin-right: 16px;
        *{
            vertical-align: middle;
            margin-bottom: 3px;
        }

        img {
            height: 32px;
            width: 32px;
        }
    }

    nav.shortcuts {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;

        list-style-type: none;

        li {
            .fa {
                font-size: 1.5rem;
                margin-right: .5rem
            }

            a:active,
            a:focus,
            a:hover {
                cursor: pointer;
                background-color: #4d4d4d;
            }

            a {
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                box-sizing: border-box;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                height: 3.5rem;
                padding: 0 1rem;
                cursor: pointer;

                label {
                    margin-bottom: 0rem;
                }
            }
        }
    }

    

    nav.search {
        // -webkit-box-flex: 1;
        // -ms-flex: 1;
        // flex: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        height: 28px;

        .searchbox {
            // background: rgba(255, 255, 255, 0.1);
            
            width: 300px;
            margin-right: 20px;
            margin-left: 6px;
        }

        .searchbox input {
            border-radius: 2px;
            border-width: 0px;
            border-radius: 0rem;
            height: 2rem;
            border-color: rgba(255,255,255,0.1);
            
            color: #999; 
            background: rgba(255, 255, 255, 0.16);
            display: inline-block;
            font-size: 14px;
            line-height: 2rem;
            
            padding-left: 32px;
            margin-bottom: 0px;
            width: 100%;
            
            // background-image: url('/search.svg');
            background-position: 8px;
            background-position-y: center;
            background-repeat: no-repeat;
        }

        .searchbox input:focus, .searchbox input:active {
            color: #333; 
            background-color: rgba(255, 255, 255, 1);
        }

        
        ::placeholder {
            color: #999;
            // opacity: 0.7;
        }
        ::-webkit-input-placeholder {
            color: #999;
            // opacity: 0.7;
        }
        ::-moz-placeholder {
            color: #999;
            // opacity: 0.7;
        }
        :-ms-input-placeholder {
            color: #999;
            // opacity: 0.7;
        }

        li {
            .fa {
                font-size: 1.5rem;
                margin-right: .5rem
            }

            a:active,
            a:focus,
            a:hover {
                background-color: #4d4d4d;
            }

            a {
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                box-sizing: border-box;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                height: 3.5rem;
                padding: 0 1rem;
                cursor: pointer;

                label {
                    margin-bottom: 0rem;
                }
            }
        }
    }
    .separator {
        width: 1px;
        height: 32px;
        background-color: #000;
    }
    .title {
        margin: 12px 16px;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
    }
    
}

div.links {
    height: 28px;
    line-height: 16px;
    font-size: 14px;
    padding: 6px 8px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 2px;
    margin: 0px 6px;
    margin-left: 0px;
    vertical-align: middle;
    color: #999;
    line-height: 14px;
        vertical-align: middle;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        -ms-flex-align: center;
        -webkit-align-items: center;
        -webkit-box-align: center;

        align-items: center;

    path {
        fill:  #999;
    }
    
    a {
        line-height: 14px;
        vertical-align: middle;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        -ms-flex-align: center;
        -webkit-align-items: center;
        -webkit-box-align: center;

        align-items: center;

        svg, i {
            margin-right: 4px;
        }

        img {
            width: 16px;
            height: 16px;
            vertical-align: middle;
            margin-bottom: 3px;
            path {
                fill:  #999;
            }
        }
    }
    .downloadicon {
        height: 16px;
        width: 16px;
        display: inline-block;
        line-height: 16px;
        margin-right: 4px;
        
    }
    .container {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        -ms-flex-align: center;
        -webkit-align-items: center;
        -webkit-box-align: center;

        align-items: center;
    }
    .icontext {
        height: 16px;
        line-height: 16px;
        display: inline-block;
    }
}

.linkscontainer:hover {
    cursor: pointer !important;
}

div.links:hover {
    background-color: rgba(255, 255, 255, 0.16);
    color: #FFF;
    fill:  #FFF;
    cursor: pointer !important;
    path {
        fill:  #FFF;
    }
    img {
        path {
            fill:  #FFF;
        }
    }
    
}

.autocomplete-suggestions {
    text-align: left;
    cursor: default;
    border: 1px solid #ccc;
    border-top: 0;
    background: #fff;
    box-shadow: inherit !important;
    /* box-shadow: 1px 1px 1px; */
    /* box-shadow: 1px; */
    transition: left 0.1s ease-in-out;
    
    /* core styles should not be changed */
    position: absolute;
    display: none;
    z-index: 9999;
    max-height: 70vh;
    width: 265px;
    overflow: hidden;
    overflow-y: hidden;
    box-sizing: border-box;
    
}
.autocomplete-suggestion {
    position: relative;
    cursor: pointer;
    padding: 7px;
    line-height: 23px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333;
}

.autocomplete-suggestion b {
    font-weight: normal;
    color: #E6F1FF !important;
}

.autocomplete-suggestion.selected {
    background: rgba(0, 156, 227, 0.1) !important;
    color: #006EFF !important;
}

.autocomplete-suggestion:hover {
    background: rgba(111, 150, 168, 0.1) !important;
    color: #006EFF !important;
}

.autocomplete-suggestion > .context {
    font-size: 12px;
}
