ul.children.children-card {
    flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    
    >span {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        min-width: 0;
        min-height: 0;
            width: 40%;
            min-width: 250px;
        margin: 1rem 1rem ;
            border: 0.1rem solid #ccc;
            
box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
        card{
        	margin: 0px 0px;
        	display: block;
			padding: 1rem;
        	background-color: #eee;
        	font-size: 200%;
        }

        p{
        	padding: 0rem 1rem;
        }
    }
}

ul.children.children-table {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    list-style: none;
    padding: 0px;
    padding-bottom: 16px;
    padding-right: 12px;
    background: #F4F4F4;
    
    >span {
        -webkit-box-flex: none;
        -ms-flex: none;
        flex: none;
        
        padding-top: 16px;
        padding-left: 16px;
        padding-right: 4px;
        min-width: 0;
        min-height: 0;
        width: 25%;
        
        
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        p{
        	padding: 0rem 1rem;
        }
        >span {
            a::before {
                content: "∙  ";
            }
        }
    }
}

table.apichildren {
    background-color: rgb(238, 238, 238);
    padding: 0;
}