{{- $verb := .Get "verb" }}
{{- $path :=  .Get "path" }}

{{- /* clean data */}}
{{- $cleanPath :=  replace $path "{" ""}}
{{- $cleanPath =  replace $cleanPath "}" ""}}
{{- $cleanVerb := lower $verb }}

{{- if (not (index .Site.Data "swagger")) }}
<h1> no swagger file present in data folder</h1>
{{- else }}
{{- /* else of has swagger validation */}}

    {{- $api := .Site.Data.swagger}}

    {{- if (not (index $api.paths $path))}}
<h1> api {{$path}} not present in swagger document </h1>
    {{- else }}
        {{- $apiPath := (index $api.paths $path) }}

        {{- if (not (index $apiPath $cleanVerb))}}
<h1> verb {{$cleanVerb}} not present in api path {{$path}}</h1>
        {{- else}}

            {{ $apiPathVerb := (index $apiPath $cleanVerb) }}

<h2><b>{{ T "Request-Info"}}</b></h2>
<h3><b>{{ T "Request-Line" }}</b></h3>
<p><code>{{ upper $verb }} {{$path}}</code></p>
            {{- template "description" $apiPathVerb}}

            {{- /* 
                swagger allows all parameters to live independently, this block will
                search and filter out all paramters by type inside $pathParams, $bodyParams and $queryParams
            */}}
            {{- if (or ($apiPathVerb.parameters) ($apiPath.parameters))}}
                {{ $pathParams := slice }}
                {{ $bodyParams := slice }}
                {{ $queryParams := slice }}
                {{- range $idx, $param := $apiPathVerb.parameters }}
                    {{- if eq $param.in "path"}}
                        {{-  $pathParams =  $pathParams | append $param }}
                    {{- else if eq $param.in "body"}}
                        {{-  $bodyParams =  $bodyParams | append $param }}
                    {{- else if eq $param.in "query"}}
                        {{-  $queryParams =  $queryParams | append $param }}
                    {{- end }}
                {{- end }}
                {{- range $idx, $param := $apiPath.parameters }}
                    {{- if eq $param.in "path"}}
                        {{-  $pathParams =  $pathParams | append $param }}
                    {{- else if eq $param.in "body"}}
                        {{-  $bodyParams =  $bodyParams | append $param }}
                    {{- else if eq $param.in "query"}}
                        {{-  $queryParams =  $queryParams | append $param }}
                    {{- end }}
                {{- end }}
                
                {{- if $pathParams }}
<h3><b>{{ T "Request-Path-Params" }}</b></h3>
                    {{ template "parameters" $pathParams }}
                {{- end }}
                {{- if $queryParams }}
<h3><b>{{ T "Request-Query-Params" }}</b></h3>
                    {{ template "parameters" $queryParams }}
                {{- end }}
                {{- if $bodyParams }}
<h3><b>{{ T "Request-Body-Params" }}</b></h3>
                    {{- $body := index $bodyParams 0 }}
                    

                    {{- template "contentType" $apiPathVerb.consumes }}

                    {{- /*
                        this is a complicated part:
                        In order to provide an "example" of the payload we need:
                        1. check if there is a file in representing the payload:
                           data/{api path}/{verb}/request.json
                        2. if not check if there is an "example"
                        3. if not check a "x-example" tag in object
                         */ -}}
                    {{ $curPath := trim $cleanPath "/" }}
                    {{ $curPaths := split $curPath "/" | append $cleanVerb  }}
                    {{- $obj := $.Site.Data }}
                    {{- $responsePaths := $curPaths }}
                    {{- range $id, $val := $responsePaths }}
                        {{- if isset $obj $val }}
                            {{ $obj = index $obj $val }}
                        {{- else }}
                            {{ $obj = false }}
                        {{- end }}
                    {{- end }}
                    {{ $defaultRequest := false }}
                    {{- if $obj }}
                        {{ $defaultRequest = index $obj "request"}}
                    {{- end }}
                    {{- /*  
                        after find the default request object (added manualy)
                        check other attributes in the object
                        */}}
                    {{- $example := false }}
                    {{- if $defaultRequest }}
                        {{ $example = $defaultRequest }}
                    {{- else if isset $body.schema "example" }}
                        {{ $example = index $body.schema "example" }}
                    {{- else if and (isset $body.schema "x-example") (index $body.schema "x-example")}}
                        {{ $example = index $body.schema "x-example" }}
                    {{- end }}
                    {{- if $example }}
<h4><b>{{ T "Request-Body-Example" }}</b></h4>
{{- template "description" $body.schema }}
<p>{{- template "example" $example }}</p>
                    {{- else }}
                        {{- template "description" $body.schema }}
                    {{- end }}
                    
                    
                    {{- $schema := index $body.schema "x-object-schema" }}
                    {{- if or (not $schema) (not (reflect.IsSlice $schema)) }}
                        {{- $schema = false}}
                    {{- end }}
                    {{- if $schema }}
<h4><b>{{ T "Request-Body-Description" }}</b></h4>
<p>{{ template "schema" $schema }}</p>
                    {{- end }}
                {{- end }}
            {{- /* end of has parameters validation */}}
            {{- end}}
            {{- if $apiPathVerb.responses }}
<h2><b>{{ T "Response-Info"}}</b></h2>
                {{ template "description" $apiPathVerb.responses }}
                {{ template "contentType" $apiPathVerb.produces }}
                {{- range $key, $resp := $apiPathVerb.responses }}
                    {{- /* packing all the data needed inside a slice and giving to the template */ -}}
                    {{ $respData := slice $key $resp $cleanPath $cleanVerb $.Site.Data }}
                    {{- if eq $key "default"}}
<h3><b>{{T "Response-Default"}}</b></h3>    
                    {{- else }}
<h3><b>{{T "HTTP-Code"}}</b>: {{$key}}</h3>
                    {{- end}}
                    {{ template "response" $respData }}
                {{- end }}
            {{- /* end of if $apiPathVerb.responses */}}
            {{- end }}

        {{- /* end of has verb in $api.paths.$path validation */}}
        {{- end }}
    {{- /* end of has $path in $api.paths validation */}}
    {{- end }}
{{- /* end of has swagger validation */}}
{{- end }}


{{- /* 
    Useful templates 
*/}}

{{- define "parameters" -}}
<table class="not-fixed">
    <thead>
        <tr>
            <th class="min-150">{{T "Parameter-Name"}}</th>
            <th class="min-150">{{T "Parameter-Type"}}</th>
            <th class="min-150">{{T "Parameter-Required"}}</th>
            <th>{{T "Parameter-Description"}}</th>
        </tr>
    </thead>
    <tbody>
        {{ range $idx, $val := . }}
        <tr>
            <td><strong>{{.name}}</strong></td>
            <td>{{.type}}</td>
            {{- $required := index . "required" | default false}}
            {{- $required = (printf "%t" $required) }}
            {{- if and $required (T $required) }}
                {{- $required = T $required }}
            {{- end }}
            <td>{{ $required }}</td>
            {{- $translationKey := index . "x-translation-key" -}}
            <td>{{if and $translationKey (T $translationKey) }}{{T $translationKey}}{{else}} {{ .description }}{{end}}</td>
        </tr>
        {{ end }}
    </tbody>
</table>
{{- end }}

{{- define "response" -}}
    {{ $code := index . 0 }}
    {{ $resp := index . 1 }}
    {{ $path := index . 2 }}
    {{ $verb := index . 3 }}
    {{ $data := index . 4 }}
    
    {{ $path = trim $path "/" }}
    {{ $paths := split $path "/" | append $verb  }}
    
    {{- /*  getting customized example object if any */ -}}
    {{- $obj := $data }}
    {{- $responsePaths := $paths }}
    {{- range $id, $val := $responsePaths }}
        {{- if isset $obj $val }}
            {{ $obj = index $obj $val }}
        {{- else }}
            {{ $obj = false }}
        {{- end }}
    {{- end }}
    {{ $defaultResponse := false }}
    {{ $customResponse := false }}
    {{- if $obj }}
        {{ $defaultResponse = index $obj "response"}}
        {{- if isset $obj $code }}
            {{ $customResponse = (index (index $obj $code) "response" )}}
        {{- end }}
    {{- end }}

    {{ template "description" $resp }}
    {{- if $resp.schema }}
<h4><b>{{ T "Response-Body-Example" }}</b></h4>
        {{- template "description" $resp.schema }}

        {{- /*  getting customized example object if any */}}
        {{- $example := false }}
        {{- if $customResponse }}
            {{- $example = $customResponse }}
        {{- else if $defaultResponse }}
            {{- $example = $defaultResponse }}
        {{- else if isset $resp.schema "example" }}
            {{- $example = index $resp.schema "example" }}
        {{- else if and (isset $resp.schema "x-example") (index $resp.schema "x-example")}}
            {{- $example = index $resp.schema "x-example" }}
        {{- end }}
<p>{{- template "example" $example }}</p>
        {{- $schema := index $resp.schema "x-object-schema" }}
        {{- if or (not $schema) (not (reflect.IsSlice $schema)) }}
            {{- $schema = false}}
        {{- end }}
        {{- if $schema }}
<h4><b>{{ T "Response-Body-Description" }}</b></h4>
<p>{{- template "schema" $schema}}</p>
        {{- end }}
    {{- end }}
{{- end }}

{{- define "descriptionP" -}}
    {{- $description := (index . "description")}}
    {{- $translationKey :=  index . "x-translation-key" }}

    {{- if and $translationKey (T $translationKey)}}
        {{- $description = (T $translationKey)}}
    {{- end}}
    {{- if  $description }}
        {{- $description -}}
    {{- end }}
{{- end }}

{{- define "description" -}}
    {{- $description := (index . "description")}}
    {{- $translationKey :=  index . "x-translation-key" }}

    {{- if and $translationKey (T $translationKey)}}
        {{- $description = (T $translationKey)}}
    {{- end}}
    {{- if $description }}
<p>{{$description}}</p>
    {{- end }}
{{- end }}

{{- define "contentType" -}}
    {{- if . }}
<p><strong>{{T "Content-Type"}} </strong>
        {{- range $key, $resp := . -}}
        {{- if and $key (gt $key 0) -}},{{- end }}
<code>{{$resp}}</code>
        {{- end -}}
</p>
    {{- end }}
{{- end }}


{{- define "schema" -}}
{{- if . }}
<table class="not-fixed">
    <thead>
        <tr>
            <th class="min-200">{{T "Schema-Name"}}</th>
            <th class="min-150">{{T "Schema-Type"}}</th>
            <th>{{T "Schema-Description"}}</th>
        </tr>
    </thead>
    <tbody>
        {{- range $idx, $val := . }}
            {{- $name := replace $val.name "[0]" "[]" }}
        <tr>
            <td><strong>{{$name}}</strong></td>
            <td>{{$val.type}} {{ if $val.format }}({{$val.format}}){{ end }}</td>
            {{- $translationKey := index $val "x-translation-key" -}}
            <td>{{if and $translationKey (T $translationKey) }}{{T $translationKey}}{{else}}{{ $val.description }}{{end}}</td>
        </tr>
        {{ end }}
    </tbody>
</table>
{{- end }}
{{- end }}


{{- define "example" -}}
{{- $example := . }}
{{- if or (reflect.IsSlice $example) (reflect.IsMap $example)}}
    {{- $example = jsonifyPretty $example -}}
{{- end }}
{{- if $example }}
<div class="expand">
    <div class="expand-label" style="cursor: pointer;" onclick="$h = $(this);$h.next('div').slideToggle(100,function () {$h.children('i').attr('class',function () {return $h.next('div').is(':visible') ? 'fa fa-chevron-down' : 'fa fa-chevron-right';});});">
        <i style="font-size:x-small;" class="fa fa-chevron-down"></i>
        <span>{{ T "Example-Show"}}</span>
    </div>
    <div class="expand-content" style="display: none;">
        {{- highlight $example "JSON" "" -}}
    </div>
</div>
{{- end }}
{{- end }}