{{- $showhidden := .Get "showhidden"}}
{{- $style := "table" }}
{{- $depth := .Get "depth" | default 1 }}
{{- $withDescription :=  .Get "description" | default false }}
{{- $withPath := true }}
{{- $sortTerm :=  .Get "sort" | default "Weight" }}

{{- .Scratch.Set "current" .Page }}

{{- if (.Get "page")}}
	{{- with .Site.GetPage "section" (.Get "page") }}
		{{- $.Scratch.Set "current" . }}
	{{- end }}
{{- end }}

{{- $cpage := (.Scratch.Get "current") }}

{{- .Scratch.Set "pages" $cpage.Pages }}
{{- if $cpage.Sections}}
	{{- .Scratch.Set "pages" ($cpage.Pages | union $cpage.Sections) }}
{{- end}}
{{- $pages := (.Scratch.Get "pages") }}
{{- if .Site.Pages}}
<table class="not-fixed">
	<thead>
		<th>{{ T "API" }}</th>
		<th>{{ T "API-Name" }}</th>
	</thead>
	<tbody>
		{{- if eq $sortTerm "Weight"}}
			{{- template "apichildsnew" dict "menu" $pages.ByWeight "style" $style "showhidden" $showhidden "count" 1 "depth" $depth "pages" .Site.Pages "description" $withDescription "sortTerm" $sortTerm "path" $withPath }}
		{{- else if eq $sortTerm "Name"}}
			{{- template "apichildsnew" dict "menu" $pages.ByTitle "style" $style "showhidden" $showhidden "count" 1 "depth" $depth "pages" .Site.Pages "description" $withDescription "sortTerm" $sortTerm "path" $withPath}}
		{{- else if eq $sortTerm "PublishDate"}}
			{{- template "apichildsnew" dict "menu" $pages.ByPublishDate "style" $style "showhidden" $showhidden "count" 1 "depth" $depth "pages" .Site.Pages "description" $withDescription "sortTerm" $sortTerm "path" $withPath}}
		{{- else if eq $sortTerm "Date"}}
			{{- template "apichildsnew" dict "menu" $pages.ByDate "style" $style "showhidden" $showhidden "count" 1 "depth" $depth "pages" .Site.Pages "description" $withDescription "sortTerm" $sortTerm "path" $withPath}}
		{{- else if eq $sortTerm "Length"}}
			{{- template "apichildsnew" dict "menu" $pages.ByLength "style" $style "showhidden" $showhidden "count" 1 "depth" $depth "pages" .Site.Pages "description" $withDescription "sortTerm" $sortTerm "path" $withPath}}
		{{- else}}
			{{- template "apichildsnew" dict "menu" $pages "style" $style "showhidden" $showhidden "count" 1 "depth" $depth "pages" .Site.Pages "description" $withDescription "sortTerm" $sortTerm "path" $withPath}}
		{{end}}
	</tbody>
</table>
{{- end }}


{{- define "apichildsnew" }}
	{{- range .menu }}
		{{- if or (and .Params.hidden (not $.showhidden)) (not .Params.path) }}
		{{- else}}
<tr>
	<td>{{.Params.path}}</td>
	<td><a href="{{.URL}}" >{{ .Title }}</a></td>
</tr>
		{{- end }}
	{{- end }}
{{- end }}
