{{- $name := .Get "name"}}

{{- if eq "smile" $name}}
😀
{{- else if eq "sad" $name}}
🙁
{{- else if eq "cheeky" $name}}
😛
{{- else if eq "laugh" $name}}
😃
{{- else if eq "wink" $name}}
😉
{{- else if eq "thumbs-up" $name}}
<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
{{- else if eq "thumbs-down" $name}}
<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
{{- else if eq "information" $name}}
<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
{{- else if eq "tick" $name}}
<span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
{{- else if eq "cross" $name}}
<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
{{- else if eq "warning" $name}}
<span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
{{- else}}
( Emoticon: {{$name}} )
{{- end}}

{{- .Inner}}
