{{- $excerpt := findRE "(?ms){{%\\s*excerpt[^%]*%}}(.|\n)*?{{%\\s*/excerpt\\s*%}}" ( readFile (printf "./content/%s" (.Get "filename")) ) }}
{{- range $excerpt }}
	{{- if ($.Get "panel")}}
		<div class="panel panel-default">
			<div class="panel-heading">{{$.Get "panel"}}</div>
			<div class="panel-body">
				{{ (replaceRE "(?ms){{%\\s*excerpt[^%]*%}}(.*){{%\\s*/excerpt\\s*%}}" "$1" .) | safeHTML | markdownify }}
			</div>
		</div>
	{{- else}}
		{{- (replaceRE "(?ms){{%\\s*excerpt[^%]*%}}(.*){{%\\s*/excerpt\\s*%}}" "$1" .) | safeHTML | markdownify }}
	{{- end }}
{{- end }}
{{- .Inner}}
