{{- $page := .Page }}
{{- $pageRef := $page.RelPermalink  }}
{{- $pageRef = strings.TrimPrefix $pageRef  "/" }}
{{- $pageRef = strings.TrimSuffix $pageRef  "/" }}
{{- $original := $pageRef }}

{{- if (.Get "page")}}
    {{- $pageRef = .Get "page"}}
{{- end }}
{{- $currentPage := .Site.GetPage $pageRef }}
{{- /* template "childpdf" dict "isMain" (eq $original $pageRef) "page" $currentPage */ -}}
{{- template "childpdf" dict "page" $currentPage "currentLink" .Page.RelPermalink }}

{{- define "childpdf" }}
    {{- $self := . }}
    {{- $page := index $self "page" }}
    {{- /*
        First check if is the main item (the one that the shortcode was added)
        if is not, should print its Content
        otherwise just execute in recursion for all the childs
    */ -}}
    {{- $currentLink := index $self "currentLink" }}
    {{- $isCurrentPage := eq $page.RelPermalink $currentLink }}
    {{- if not $isCurrentPage -}}
<h1>{{$page.Title}}</h1>
<p></p>
{{$page.Content}}
<p class="pagebreak"></p>
    {{- end }}
    {{- if and ($page) ($page.Pages.ByWeight) }}
        {{- range $page.Pages}}
            {{- template "childpdf" dict "page" . "currentLink" $currentLink }}
        {{- end }}
    {{- end }}
{{- end }}