
{{- $coverTitle := .Get "title" | default "title?" }}
{{- $logoImage := .Get "image" | default "cover/cover.svg" | relURL }}
{{- $coverImage := .Get "bgImage" | default "cover/coverbg.png" | relURL -}}
<style>
    div.body {
        width: 100%;
        height: 100%;
        min-width: 300px;
        min-height: 300px;
        background: url({{$coverImage}}) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, "Ubuntu", sans-serif;
        text-align: center;
        vertical-align: middle;
        margin: 0px !important;
    }
    div.body .container {
        top: 25%;
        position: absolute;
        left: 8%;
        display: inline-block;
        text-align: left;
    }
    img.cover {
        min-width: 300px;
        min-height: 44px;
    }
    .text {
        margin-top: 60px;
        font-size: 52px;
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei" !important;
    }
</style>
<div class="body">
    <div class="container">
        <img class="cover" src="{{$logoImage}}"/>
        <div class="text">{{$coverTitle}}</div>
    </div>
</div>
<p class="pagebreak"></p>