aside, header, div.chevrons, div.nav-select, .nav-select, .nav-select>center, #breadcrumbs, .fa-clipboard {
    display: none !important;
}

article {
   margin-top: 0 !important;
}

article section.page {
  /* overflow-y: scroll !important; */
  margin: auto !important;
  padding:inherit !important;
  flex: initial !important;
  -webkit-box-flext:initial !important;
  box-sizing: initial !important;
  display: initial !important;
}

ul.children.children-card {
  display: none !important;
}

.children.children-table {
  display: none !important;
}

section a {
  color: #222 !important;
}
