<header>
  {{ if not (.Site.Params.disablelogo | default false) }}
  <div class="logo">
      <a class="baselink" href="{{.Site.BaseURL}}"><img src="{{"images/logo.svg" | relURL}}" alt="{{.Site.Title}}"></a>
  </div>
  <div class="separator"></div>
  {{ end }}
  <div class="title">{{ partial "header.html" . }}</div>
  <div class="burger"><a href="javascript:void(0);" style="font-size:15px;">&#9776;</a></div>
  <nav class="shortcuts">
  {{- with .Site.Menus.shortcuts}}
      {{- range sort . "Weight"}}
          <li class="" role="">
              <a href="{{.URL}}" {{if eq $.Site.Params.menushortcutsnewtab true}}target="_blank"{{end}} rel="noopener">
                {{safeHTML .Name}}
              </a>
          </li>
      {{- end}}  
  {{- end}}
  </nav>
  {{- if not .Site.Params.disableSearch}}
      <nav class="search">
          <div class="searchbox outer">
            <input data-search-input id="search-by" type="text" placeholder="{{T "Search-placeholder"}}" style="background-image: url('{{"images/search.svg" | relURL}}');">
          </div>
        <script type="text/javascript" src="{{"js/lunr.min.js" | relURL}}"></script>
        <script type="text/javascript" src="{{"js/auto-complete.js" | relURL}}"></script>
        <link href="{{"css/auto-complete.css" | relURL}}" rel="stylesheet">
        <script type="text/javascript">
          {{ if .Site.IsMultiLingual }}
              var baseurl = "{{.Site.BaseURL}}{{.Site.LanguagePrefix}}";
          {{ else }}
              var baseurl = "{{.Site.BaseURL}}";
          {{ end }}
        </script>
        <script type="text/javascript" src="{{"js/search.js" | relURL}}"></script>
      </nav>
    {{- end}}
</header>
<article>
  <aside>
    <ul class="menu">
      {{- if not .Site.Params.disableHomeIcon}}
          <li data-nav-id="{{"/" | relLangURL}}" class="dd-item">
          <a href="{{"/" | relLangURL}}">
            {{ T "Home" }}
          </a>
          </li>
      {{- end}}

      {{- partial "menu.html" . }}

    </ul>
    
    {{- partial "language-selector.html" . }}
    <section>
        {{- partial "menu-footer.html" . }}
    </section>
  </aside>
  <section class="page">
    
    <div class="nav-select">
      <center>Navigation : 
        <select onchange="javascript:location.href = this.value;">
          {{partial "flex/selectnavigation.html" .}}
        </select>
      </center>
    </div>
    
    {{if not .IsHome}}
    <div id="breadcrumbs" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
      <span id="sidebar-toggle-span">
        <a href="#" id="sidebar-toggle" data-sidebar-toggle="">
          <i class="fa fa-bars"></i>
        </a>
      </span>
      <span class="links">
      {{ template "breadcrumb" dict "page" . "value" .Title }}   
      </span>
    </div>
    <h1>{{.Title}}</h1><hr/>
    {{end}}