{{ range $.Site.Data.jenkinsfilext.jenkinsfilext.argtypes }}
  {{ range .display }}
    <h2 id="{{.type}}" >{{.shortdesc}} {{.type}}</h2>
    <div>类型： {{.type}}</div>
    <div>图片： <img style="width:500px" src="/images/jenkinsfilext/{{.pic}}" alt="{{.pic}}" /></div>
    <p>
      {{.desc | markdownify }}
    <p1>
  {{ end }}
{{ end }}