{{ define "main" }}

  <h1>类型索引</h1>
    <table>
      <tr>
        <th>数据类型</th>
        <th>展示类型名称</th>
        <th>展示类型</th>
      </tr>
      {{ range $.Site.Data.jenkinsfilext.jenkinsfilext.argtypes }}
        <tr>
          <td rowspan="{{len .display}}">{{ .name}}</td>
          {{ range $i, $item := .display }}
            {{if ne $i 0}}
              <tr>
            {{- end}}
            <td><a href="#{{$item.type}}">{{$item.shortdesc}}</a></td>
            <td>{{$item.type}}</td>
            </tr>
          {{ end }}
      {{ end }}
    </table>
  
  <h1>详细</h1>
  {{ range $.Site.Data.jenkinsfilext.jenkinsfilext.argtypes }}
    {{ range .display }}
      <h2 id="{{.type}}" >{{.shortdesc}}</h2>
      <div>类型： {{.type}}</div>
      <div>图片： <img style="width:500px" src="/images/jenkinsfilext/{{.pic}}" alt="{{.pic}}" /></div>
      <p>
        {{.desc | markdownify}}
      <p1>
    {{ end }}
  {{ end }}

  {{.Content}}
{{ end }}