<table>
  <tr>
    <th>名称</th>
    <th>仓库地址</th>
    <th>说明</th>
  </tr>
  {{ range $key, $item := $.Site.Data.code.components }}
    <tr>
      <td>{{ $item.name }}</td>
      <td><a href="#{{$item.repo}}">{{$item.repo}}</a></td>
      <td>{{ $item.desc }}</td>
    </tr>
  {{ end }}
</table>